**/.idea/*
!/.idea/icon.png
!/.idea/vcs.xml
!/.idea/copyright
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles
!/.idea/dictionaries
*.iml
.gradle
build
release
local.properties
google-services.json
secrets
secrets.tar
/documents/dokka/
/report
snapshots
info.txt
keystore.pepk
signingconfig.properties
