<?xml version="1.0" encoding="utf-8"?><!--
  ~ Designed and developed by Duckie Team, 2022
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/duckie-team/duckie-android/blob/develop/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        tools:ignore="MissingApplicationIcon">

        <!--
        https://firebase.google.com/docs/perf-mon/get-started-android#view-log-messages
        -->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

    </application>
</manifest>
